<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="false" >

    <bean name="BeanPostProcessorr" class="com.amulya.spring.CustomBeanPostProcessor"></bean>
	<bean name="BeanPostProcessorr1" class="com.amulya.spring.CustomBeanPostProcessor1"></bean>
	<bean name="CustomBeanFactoryPostProcessor" class="com.amulya.spring.CustomBeanFactoryPostProcessor"></bean>
   	<bean id="Vendor" class="com.amulya.spring.Vendor" autowire="byType" init-method="init" destroy-method="destroy" scope="prototype">

   	</bean>
	 <bean id = "laptop" class = "com.amulya.spring.Laptop" init-method="init1" destroy-method="destroy2"> 
	 <property name="lid" value="10"></property>
	 <property name="lname" value="NewLaptopYo"></property>
     <property name="configurations">
            <list>
               <value>sun</value>
               <value>Oracle</value>
               <value>java4s</value>
               <value>sun</value>
           </list>
	</property>
	   </bean>

</beans>